#include <windows.h>
#include "resource.h"

// Dialog resource
ID_MAINDIALOG DIALOGEX 0, 0, 250, 120
STYLE DS_SETFONT | WS_POPUP | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_VISIBLE | WS_THICKFRAME | DS_MODALFRAME | WS_SIZEBOX
CAPTION "Example Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "First Name:", IDC_STATIC, 10, 10, 60, 12
    EDITTEXT    IDC_EDIT_FIRSTNAME, 80, 10, 120, 12
    LTEXT       "Last Name:", IDC_STATIC, 10, 28, 60, 12
    EDITTEXT    IDC_EDIT_LASTNAME, 80, 28, 120, 12
    PUSHBUTTON  "OK",     IDOK,     80, 90, 50, 14
    PUSHBUTTON  "Cancel", IDCANCEL, 140, 90, 50, 14
    CONTROL "", IDC_RESIZE, "ScrollBar", 0x04000014, 239, 109, 11, 11
END

// Dialog layout anchors as RCDATA
ID_MAINDIALOG_LAYOUT RCDATA
BEGIN
    IDC_EDIT_FIRSTNAME, 3L, 6L,        // ANCOR_LEFT | ANCOR_TOP, ANCOR_RIGHT | ANCOR_TOP
    IDC_EDIT_LASTNAME,  3L, 6L,        // ANCOR_LEFT | ANCOR_TOP, ANCOR_RIGHT | ANCOR_TOP
    IDOK,              12L, 12L,       // ANCOR_RIGHT | ANCOR_BOTTOM, ANCOR_RIGHT | ANCOR_BOTTOM
    IDCANCEL,          12L, 12L        // ANCOR_RIGHT | ANCOR_BOTTOM, ANCOR_RIGHT | ANCOR_BOTTOM
    IDC_RESIZE,        12L, 12L        // ANCOR_RIGHT | ANCOR_BOTTOM, ANCOR_RIGHT | ANCOR_BOTTOM
END

