<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    {% if page.title -%} 
      {{ page.title }} | dialog-layout
    {%- else -%} 
      dialog-layout: Dynamic Win32 Dialog Layout Engine
    {%- endif %}
  </title>
  <meta name="description" content="
    {%- if page.description -%}
      {{ page.description }}
    {%- else -%}
      dialog-layout is a lightweight, anchor-based runtime layout engine for 
      Win32 dialogs, enabling automatic resizing and repositioning of controls. 
      BSD licensed, easy to integrate, and minimal dependencies.
    {%- endif %}" />  

  <!-- Open Graph tags for social sharing -->
  <meta property="og:title" content="
    {%- if page.title -%} 
      {{ page.title }} | dialog-layout
    {%- else -%} 
      dialog-layout: Dynamic Win32 Dialog Layout Engine
    {%- endif %}" />
  <meta property="og:description" content="
    {%- if page.description -%}
      {{ page.description }}
    {%- else -%}
      dialog-layout is a lightweight, anchor-based runtime layout engine for 
      Win32 dialogs, enabling automatic resizing and repositioning of controls. 
      BSD licensed, easy to integrate, and minimal dependencies.
    {%- endif %}" />
  <meta property="og:url" content="https://serg5z.github.io/dialog-layout/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://serg5z.github.io/dialog-layout/assets/dialog-layout.png" />
  
  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="
    {%- if page.title -%} 
      {{ page.title }} | dialog-layout
    {%- else -%} 
      dialog-layout: Dynamic Win32 Dialog Layout Engine
    {%- endif %}" />
  <meta name="twitter:description" content="
    {%- if page.description -%}
      {{ page.description }}
    {%- else -%}
      dialog-layout is a lightweight, anchor-based runtime layout engine for 
      Win32 dialogs, enabling automatic resizing and repositioning of controls. 
      BSD licensed, easy to integrate, and minimal dependencies.
    {%- endif %}" />
  <meta name="twitter:image" content="https://serg5z.github.io/dialog-layout/assets/dialog-layout.png" />
  
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/assets/dialog-layout.png">

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/style.css" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CFB9XXGL3Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CFB9XXGL3Y');
</script>
