<nav>
  <img src="assets/dialog-layout.png" alt="dialog-layout" class="logo" />
  <a href="index.html" class="nav-link" id="nav-home">Home</a>
  <a href="docs.html" class="nav-link" id="nav-docs">Docs</a>
  <a href="examples.html" class="nav-link" id="nav-examples">Examples</a>
  <a href="contribute.html" class="nav-link" id="nav-contribute">Contribute</a>
  <a href="license.html" class="nav-link" id="nav-license">License</a>
  <button id="theme-toggle" aria-label="Toggle Theme"></button>
</nav>
